---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('news');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const formattedDate = entry.data.publishDate.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});

import {resolveNewsImage} from '/src/lib/resolveNewsImage.ts';
import { Image } from 'astro:assets';
const img = resolveNewsImage(entry.data.image);
---


<Layout title={entry.data.title}>
  <div class="flex justify-center">
    <div class="prose">
      <div class="flex justify-center gap-3">
        <p class="uppercase text-blue-600 font-bold">{entry.data.category}</p>
        <p class="uppercase font-bold">{formattedDate}</p>
      </div>
      <h1>{entry.data.title}</h1>
      <Image src={img} alt={entry.data.title} />
      <p>{entry.data.excerpt}</p>
      <Content/>
    </div>
  </div>
</Layout>