---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const {PUBLIC_GA_ID, PUBLIC_SITE_NAME, PUBLIC_SITE_DESCRIPTION} = import.meta.env;

interface Props {
  title: string;
  ogImage?:URL;
  pageDesc?:string;
}

const { title, ogImage, pageDesc } = Astro.props;
const siteName = PUBLIC_SITE_NAME || "modify site name on .env or .env.development";
const siteDesc = PUBLIC_SITE_DESCRIPTION || "modify site description on .env or .env.development"
const taglink = `https://www.googletagmanager.com/gtag/js?id=${PUBLIC_GA_ID}`
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google tag (gtag.js) -->
{
  PUBLIC_GA_ID && import.meta.env.PROD &&(
    <>
      <!-- Google tag (gtag.js) -->
      <script is:inline type="text/partytown" src={taglink}></script>
      <script is:inline type="text/partytown" define:vars={{PUBLIC_GA_ID}}>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', PUBLIC_GA_ID);
      </script>
    </>
  )
}

{
  ogImage && <meta property="og:image" content={ogImage} />
}

{
  pageDesc && <meta property="description" content={pageDesc}/>
}

    <title>{title} | {siteName}</title>
  </head>
  <body class="flex flex-col min-h-screen font-display font-normal px-4 max-w-7xl mx-auto bg-white text-black ">
      <Header 
      siteName={PUBLIC_SITE_NAME}
      />
      <main class="flex flex-col flex-1">
        <slot />
      </main>
      <Footer 
      siteName={siteName}
      siteDesc={siteDesc}
      />
  </body>
</html>

